
.Gear {
    position: absolute;
    width: 100%;
    height: 100%
}

.Gear-SVG {
    fill: lime;
}

.main-shape {
    filter: drop-shadow( 3px 3px 2px rgba(0.008, 0.824, 0.573))
}

.Clock-Text {
    /*
    color: white;
    */
    font-family: amplitude;
    font-weight: bold;
    color: white;
    stroke: white;
    fill: white;
    /*
    color: black;
    stroke: black;
    fill: black;
    */
    font-size: 35px;
    opacity: 0.5;
    transition: font-size 50ms;
    filter: drop-shadow( 3px 3px 2px rgba(0.008, 0.824, 0.573))
}

.Clock-Text-Vertical {
    /*
    color: white;
    */
    font-family: amplitude;
    font-weight: bold;
    color: white;
    stroke: white;
    fill: white;
    /*
    color: black;
    stroke: black;
    fill: black;
    */
    font-size: 22px;
    opacity: 0.5;
    filter: drop-shadow( 3px 3px 2px rgba(0.008, 0.824, 0.573))
}

.Clock-Text-Shadow {
    font-family: amplitude;
    font-weight: bold;
    stroke: black;
    fill: black;
    font-size: 35px;
    opacity: 0.5;
}

.Clock-Text-Big {
    font-size: 80px;
    opacity: 1.0;
}

.Clock-Text-Big-Vertical {
    font-size: 44px;
    opacity: 1.0;
}

.TextPath {
    stroke: green;
}