
.Gear {
    position: absolute;
    width: 100%;
    height: 100%;
}

.Gear-SVG {
    fill: lime;
}

.main-shape {
}

.main-shape-glow {
    filter: blur(100px);
}

.Clock-Text {
    /*
    color: white;
    */
    font-family: amplitude;
    font-weight: normal;
    color: white;
    stroke: white;
    fill: white;
    /*
    color: black;
    stroke: black;
    fill: black;
    */
    font-size: 42px;
    opacity: 0.5;
    transition: font-size 50ms;
}

.Clock-Text-Shadow {
    /*
    color: white;
    */
    font-family: amplitude;
    font-weight: normal;
    color: black;
    stroke: black;
    fill: black;
    /*
    color: black;
    stroke: black;
    fill: black;
    */
    font-size: 42px;
    opacity: 0.5;
    transition: font-size 50ms;
}

.Clock-Text-Vertical {
    /*
    color: white;
    */
    font-family: amplitude;
    font-weight: bold;
    color: white;
    stroke: white;
    fill: white;
    /*
    color: black;
    stroke: black;
    fill: black;
    */
    font-size: 22px;
    opacity: 0.5;
}

.Clock-Text-Big {
    font-size: 72px;
    font-family: amplitude;
    opacity: 1.0;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    color: white;
    stroke: white;
    fill: white;
}

.Clock-Text-Gone {
    font-size: 0px;
    opacity: 0.0;
}

.Clock-Text-Gone-Vertical {
    font-size: 0px;
    opacity: 0.0;
}

.Clock-Text-Big-Shadow {
    font-size: 80px;
    font-family: amplitude;
    opacity: 1.0;
    font-weight: bold;
}

.Clock-Text-Big-Vertical {
    font-size: 44px;
    font-family: amplitude;
    opacity: 1.0;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    color: white;
    stroke: white;
    fill: white;
}
    

.TextPath {
    stroke: green;
}

.Window-Div{
    width: 100%;
    height: 69px;
    overflow: hidden;
    /*border: 1px solid black;*/
    position: absolute;
    top: 485px;
}

.Window-Div-Vertical{
    width: 100%;
    height: 41px;
    overflow: hidden;
    /*border: 1px solid black;*/
    position: absolute;
    top: 721px;
}